<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン完了</title>
</head>
<body>
    <h1>ログイン完了しました</h1>
    <button id="agree_button">
        同意する
    </button>
    <button id="refresh_button">
        更新する
    </button>

    <script>
        document.getElementById("agree_button").addEventListener("click", async function() {
            const req = await fetch("/app/agree", {
                method: "POST",
                body: JSON.stringify({
                    "Class" : "IE2A",
                    "Agree" : true
                })
            })

            const res = await req.json()

            console.log(res);
        })

        document.getElementById("refresh_button").addEventListener("click", async function() {
            const req = await fetch("/app/refresh", {
                method: "POST",
            })

            const res = await req.json()

            console.log(res);

            const req2 = await fetch("/app/refreshs", {
                method: "POST",
            })

            const res2 = await req2.json()

            console.log(res);
        })
    </script>
</body>
</html>